{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="90DC59D8CEEE7ACE4A7A9B6B63C2312C" />
    <meta name="google-site-verification" content="nzOfAkYXi6FeAlILVda8LCfesFYp8By65BDCEdZgyn0" />
    <meta name="description" content="Get help with your Verizon account by contacting Verizon customer service. Learn how to reach support for billing, technical issues, wireless plans, and more.">
    <meta name="keywords" content="Verizon customer service, contact Verizon support, Verizon help number, Verizon wireless support, Verizon billing help">
    <meta name="robots" content="index, follow">
    <title>Verizon Customer Service – Get Support for Your Verizon Account</title>
    {{ super() }}
{% endblock %}
