{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="623ED3D1E235F0508846DA4A2D09CF91" />
    <meta name="google-site-verification" content="iUsdtzEvBBMhDePr5h1D5cwdWDX2HMdd08po5rO2Cfo" />
    <meta name="description" content="Get help with your Verizon account by contacting Verizon customer service. Learn how to reach support for billing, technical issues, wireless plans, and more.">
    <meta name="keywords" content="Verizon customer service, contact Verizon support, Verizon help number, Verizon wireless support, Verizon billing help">
    <meta name="robots" content="index, follow">
    <title>Verizon Customer Service – Get Support for Your Verizon Account</title>
    {{ super() }}
{% endblock %}
